<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="johanrovala.assignment1_seperate" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".RandomGenerator"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BMI"
            android:label="@string/title_activity_bmi" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyCountries"
            android:label="@string/title_activity_my_countries" >
        </activity>
        <activity
            android:name=".AddMyCountries"
            android:label="@string/title_activity_add_my_countries" >
        </activity>
        <activity
            android:name=".MainActivityBeerKit"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".VaxjoWeather"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation" >
        </activity>
    </application>

</manifest>
